.background {
  background-image: url("../../../assets/images/loginbg.png");
  width: 100%;
  height: 700px;

  position: absolute;
  right: -370px;
  top: -14px;
}

.background_triangle_1 {
  background-image: url("../../../assets/images/main_img_1.jpg");
  width: 100%;
  height: 350px;

  position: absolute;
  left: -370px;
  top: -14px;
  clip-path: polygon(0% 0, 88% 0%, 63% 100%, 0 100%);
}

.background_triangle_2 {
  background-image: url("../../../assets/images/main_img_2.jpg");
  width: 100%;
  height: 350px;

  position: absolute;
  left: -370px;
  bottom: -5.6px;
  clip-path: polygon(0% 0, 63% 0%, 88% 100%, 0 100%);
}

