.orange_button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 32);
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.16);
  background: rgb(252, 182, 12);
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
  clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  display: flex;
  align-items: center;
  gap: 4px;
}

.white_button_orange_border {
  box-sizing: border-box;
  border: 1px solid rgb(252, 182, 12);
  padding: 8px 24px;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
  background: white;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.3s;

  &:hover {
    background: rgb(252, 182, 12);
  }
}

.yellow_button_black_border {
  padding: 8px 24px;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: 0.3s;

  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 32);
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.16);
  background: rgb(252, 182, 12);
}

.grey_button_border {
  box-sizing: border-box;
  background: none;
  border-top: 2px solid #a2a2a2 !important;
  border-bottom: 2px solid #a2a2a2 !important;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.16);
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
  clip-path: polygon(
    200px 20.5px,
    186.53px 41px,
    11.35px 41px,
    0px 20.5px,
    11.35px 0px,
    186.53px 0px
  );
  width: 200px;
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
  color: rgba(32, 32, 32, 0.4);
  justify-content: center;
  span {
    width: 1px;
    height: 26px;
    background-color: #a2a2a2;
    position: absolute;
    font-family: "Sofia Sans", sans-serif;
    &:nth-child(1) {
      top: -3.8px;
      left: 6px;
      transform: rotate(30deg);
    }
    &:nth-child(2) {
      bottom: -5.8px;
      left: 7px;
      transform: rotate(-210deg);
    }
    &:nth-child(3) {
      top: -3.2px;
      right: 7px;
      transform: rotate(326deg);
    }
    &:nth-child(4) {
      bottom: -3.8px;
      right: 7px;
      transform: rotate(34deg);
    }
  }
}

.orange_button_border {
  box-sizing: border-box;
  border-top: 2px solid #000 !important;
  border-bottom: 2px solid #000 !important;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.16);
  background: rgb(252, 182, 12);
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  font-family: "Sofia Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 41px;
  gap: 4px;
  span {
    width: 1px;
    height: 26px;
    background-color: #000;
    position: absolute;
  }
}

.orange_button_border_220 {
  clip-path: polygon(
    220px 20.5px,
    205.18px 42px,
    12.48px 42px,
    0px 20.5px,
    12.48px 0px,
    205.18px 0px
  );
  width: 220px;
  span {
    &:nth-child(1) {
      top: -3.8px;
      left: 6px;
      transform: rotate(32deg);
    }
    &:nth-child(2) {
      bottom: -5.1px;
      left: 7px;
      transform: rotate(-209deg);
    }
    &:nth-child(3) {
      top: -3.2px;
      right: 7px;
      transform: rotate(324deg);
    }
    &:nth-child(4) {
      bottom: -3px;
      right: 6.3px;
      transform: rotate(34deg);
    }
  }
}

.orange_button_border_180 {
  clip-path: polygon(
    180px 20.5px,
    167.87px 41px,
    10.21px 41px,
    0px 20.5px,
    10.21px 0px,
    167.87px 0px
  );
  width: 180px;
  span {
    &:nth-child(1) {
      top: -5.8px;
      left: 6px;
      transform: rotate(27deg);
    }
    &:nth-child(2) {
      bottom: -5.7px;
      left: 6px;
      transform: rotate(-206deg);
    }
    &:nth-child(3) {
      top: -3.2px;
      right: 7px;
      transform: rotate(330deg);
    }
    &:nth-child(4) {
      bottom: -2px;
      right: 5.3px;
      transform: rotate(31deg);
    }
  }
}

.button_grey_border {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(32, 32, 32, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
  span {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fcb60c;
    border: 1px solid #000;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
