.creator {
    padding: 40px 20px;

    &_inner {

    }

    &_buttons {
        display: flex;
        gap: 9px;
        button {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    &_form {
        width: 100%;
        max-width: 720px;
        margin: 40px auto 0px auto;

        display: flex;
        flex-direction: column;
        gap: 40px;

    }
}