.font_16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}

.font_48 {
    font-size: 48px;
    font-weight: 800;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: left;
}

.font_36 {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: left;
}

.font_24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
}

.font_20 {
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}

.font_14 {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: left;
}
