input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

.input_orange_outlined {
  position: relative;
  max-width: 360px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 8px 8px 12px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(252, 182, 12);
  clip-path: polygon(3% 0%, 97% 0%, 100% 50%, 97% 100%, 3% 100%, 0% 50%);
  gap: 4px;

  &_inner {
    background: rgb(252, 182, 12);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      padding: 7px 15px;
      background: rgb(32, 32, 32);
      clip-path: polygon(3% 2%, 97% 2%, 100% 50%, 97% 97%, 3% 97%, 0% 50%);
      width: 91%;
      height: 93%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input {
    width: 100%;
    background: rgb(32, 32, 32);
    outline: none;
    border: none;
    color: rgb(252, 182, 12);

    &::placeholder {
      color: rgb(252, 182, 12);
    }
  }
}

.input_grey_outlined {
  position: relative;

  input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(32, 32, 32, 0.4);
    height: 38px;
    outline: none;
    padding: 0px 20px;
  }

  &_eye {
    position: absolute;
    right: 20px;
    top: 9px;
    z-index: 1;
    cursor: pointer;
  }

}

.checkbox_cart {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;


  input {
    opacity: 0;
  }

  >div {
    position: absolute;
    left: 0;
    top: 2px;

    >div {
      div {
        width: 16px;
        height: 16px;
        border: 1px solid #000;
        border-radius: 50%;
      }
    }
  }

  .input_grey_outlined {
    textarea {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid rgba(32, 32, 32, 0.4);
      min-height: 60px;
      outline: none;
      padding: 8px 20px;
      resize: none;
      font-family: "Sofia Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #202020;

      &::placeholder {
        color: #202020;
      }
    }
  }
}